## Excercise 1

In [1]:
import requests
from bs4 import BeautifulSoup

import re
import pandas as pd

In [2]:
url = 'https://bookroo.com/quotes/anne-of-green-gables'
site = requests.get(url)
soup = BeautifulSoup(site.text, 'html.parser')

In [3]:
quotes = []
characters = []

for block in soup.find_all('div', id=re.compile('\d{4}')):
    quote1 = block.find_all('div', class_='css-eez2cp')
    quote2 = [q.text for q in quote1]
    
    char1 = block.find_all('a', class_='chakra-link css-1s1o1fc')
    char2 = [c.text for c in char1]
    
    quotes.append(quote2[0])
    
    if len(char2) == 0:
        characters.append(' ')
    elif len(char2) == 1:
        characters.append(char2[0])
    elif len(char2) == 2:
        characters.append(f"{char2[0]}, {char2[1]}")

In [4]:
df = pd.DataFrame({"Quotes":quotes, "Characters":characters})

In [5]:
df.to_csv('anne.csv')

In [6]:
df.head()

,Quotes,Characters
0,“I’m so glad I live in a world where there are...,Anne Shirley
1,"“But if you call me Anne, please call me Anne ...",Anne Shirley
2,“I’m not a bit changed--not really. I’m only j...,Anne Shirley
3,“When I left Queen’s my future seemed to stret...,"Anne Shirley, Marilla Cuthbert"
4,"“It’s so easy to be wicked without knowing it,...",Anne Shirley

In [7]:
df['Characters'].unique()

array(['Anne Shirley', 'Anne Shirley, Marilla Cuthbert',
       'Matthew Cuthbert', 'Jane Andrews', ' ',
       'Anne Shirley, Mrs. Allen'], dtype=object)

In [8]:
def lookup(name):
    return df[df.Characters == name].Quotes

In [9]:
lookup('Anne Shirley, Marilla Cuthbert')

3     “When I left Queen’s my future seemed to stret...
17    “But really, Marilla, one can’t stay sad very ...
34    “But have you ever noticed one encouraging thi...
Name: Quotes, dtype: object